#cardLogin {
  width: 300px;
  margin: 10% auto auto auto;

  #contentErro {
    background-color: rgb(44, 11, 14);
    color: rgb(234, 134, 143);
    border: 2px solid rgb(132, 32, 41);
  }
}
ion-button{
    text-transform: none
}
#itemEntrar{
    margin-top: 5px
}
